<div class="jumbotron">
    <h1>Angular Demos</h1>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Listing 1</h2>
        <p>"CRUD per Web API"<br />Eine simple REST-basierte Abfrage der Daten</p>
        <p>
            @Html.ActionLink("Weiter", "WebApiCrud", null, new { @class = "btn btn-default" })
        </p>
    </div>

    <div class="col-md-4">
        <h2>Listing 2</h2>
        <p>x<br />x</p>
        <p>
            x
        </p>
    </div>
    
    <div class="col-md-4">
        <h2>Listing 3</h2>
        <p>x<br />x</p>
        <p>
            x
        </p>
    </div>

</div>
