<!DOCTYPE html>
<html>
<head>
    <title>Hello World AMD</title>
</head>
<body>

    <h1 ng-controller="exampleController">
        {{model.text}}
    </h1>

    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/examples/helloWorld.js"></script>
</body>
</html>