<div class="jumbotron">
    <h1>Angular Demos</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Listing 1</h2>
        <p>"Hello World" - Eine simple Angular Anwendung ohne AMD/require.js</p>
        <p><a class="btn btn-default" href="~/HelloWorld">&raquo; Weiter</a></p>
    </div>

</div>
