<!DOCTYPE html>
<html>
<head>
    <title>Hello World</title>
</head>
<body ng-app="exampleApp">

    <div ng-controller="exampleController">
        <h1 ng-bind="model.text"></h1>
    </div>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/examples/helloWorld.js"></script>
</body>
</html>